[submodule "syndromeimpostorblog/public"]
	path = syndromeimpostorblog/public
	url = https://github.com/syndrome-impostor/syndrome-impostor.github.io.git
	branch = main
[submodule "syndromeimpostorblog/themes/papermod"]
	path = syndromeimpostorblog/themes/papermod
	url = https://github.com/adityatelange/hugo-PaperMod
